// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "Google Sans";
  src: url("./assets/fonts/google-sans.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Google Sans" !important;
}

.ionava {
  margin: auto;
  margin-bottom: 10px;
}

.hover-cursor {
  cursor: pointer;
}